body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.title{
    font-size: 30px;
    line-height: 1;
    margin: 0 0 10px;
}
.container{
    margin: 0 auto;
    max-width: 840px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    
}
.form{
    display: flex;
    flex-direction: column;
    gap:10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px gray;
    padding:10px;
    margin: 0 0 30px;
}

.answer{   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin:10px 0 10px 0;
    line-height: 1;
}
.answer__wrap{
    display: flex;
    gap: 5px;
}
.input{
    padding:10px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
   
}
.button {
    background-color: rgba(216, 182, 29, 0.795);
    border: none;
    border-radius: 10px;
    padding:10px;
    font-size: 20px;
    cursor: pointer;
    transition: opacity .1s ease-in-out;
}
.button:hover{
    opacity: .65;
}